<p>home-admin works!</p>
<button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Aggiungi Ticket
</button>
<app-add-employee></app-add-employee>

<button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#edit">
    Edit <!-- NOTA BENE: associazione id utente all'id bottone -->
</button> 
<app-edit-employee></app-edit-employee>

<button type="button" class="btn btn-primary mb-4">
    Delete <!-- NOTA BENE: associazione id utente all'id bottone -->
</button>
