<!-- <p>home-admin works!</p> -->
<div class="container mt-5">
    <div class="mt-2 mb-2">
        <h1>Welcome to home admin</h1>
    </div>
    <table class="table table-hover rounded mt-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <th scope="row">{{ employee.id }}</th>
                <td>{{ employee.name }}</td>
                <td>{{ employee.surname }}</td>
                <td>
                    <a [routerLink]="['/admin-views-employee-log']">
                        <button type="button" class="btn btn-primary me-1">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </a>
                    <button type="button" class="btn btn-warning me-1" data-bs-toggle="modal" data-bs-target="#edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <button type="button" class="btn btn-danger ml-5" (click)="deleteEmployee(employee.id)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add employee
    </button>
</div>

<app-add-employee></app-add-employee>

<app-edit-employee></app-edit-employee>