<header>
  <div class="logo">STAFF MONITOR</div>
  <input type="checkbox" id="nav_check" hidden />
  <nav>
    <ul>
      <ng-container *ngIf="isLogged && utenteLoggato?.role === 'admin'">
        <li>
          <a [routerLink]="['/admin']">Admin Home</a>
        </li>
      </ng-container>
      <ng-container *ngIf="isLogged && utenteLoggato?.role === 'employee'">
        <li>
          <a [routerLink]="['/home-employee', utenteLoggato?.id]">Employee Home</a>
        </li>
      </ng-container>
      <li class="logout-container">
        <a class="show-name" *ngIf="isLogged" (click)="showLogout = !showLogout">
          Ciao, <b>{{ utenteLoggato?.name }}</b>
        </a>
        <a *ngIf="showLogout" class="logout-button" (click)="logout()">Logout</a>
        <a *ngIf="!isLogged" [routerLink]="['/login']" class="login-button">Login</a>
      </li>
    </ul>
  </nav>
  <label for="nav_check" class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </label>  
</header>
