<div
  class="modal fade"
  id="edit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="showResultMessage" class="alert alert-success">
          {{ resultMessage }}
        </div>
        <form [formGroup]="editEmployeeForm" (ngSubmit)="onSubmitReactive()">
          <div class="form-group mb-3">
            <label for="editName">Edit Name:</label>
            <input
              class="form-control"
              type="text"
              formControlName="editName"
            />
            <p
              *ngIf="editEmployeeForm?.get('editName')?.errors?.['required'] && editEmployeeForm?.get('editName')?.touched"
              class="text-danger"
            >
              Name is required.
            </p>
            <p
              *ngIf="editEmployeeForm?.get('editName')?.errors?.['pattern'] && editEmployeeForm?.get('editName')?.touched"
              class="text-danger"
            >
              Name cannot be empty or blank spaces.
            </p>
          </div>

          <div class="form-group mb-3">
            <label for="editSurname">Edit surname:</label>
            <input
              class="form-control"
              type="text"
              formControlName="editSurname"
            />
            <p
              *ngIf="editEmployeeForm?.get('editSurname')?.errors?.['required'] && editEmployeeForm?.get('editSurname')?.touched"
              class="text-danger"
            >
              Surname is required.
            </p>
            <p
              *ngIf="editEmployeeForm?.get('editSurname')?.errors?.['pattern'] && editEmployeeForm?.get('editSurname')?.touched"
              class="text-danger"
            >
              Surname cannot be empty or blank spaces.
            </p>
          </div>

          <div class="form-group mb-3">
            <label for="editPassword"
              >New password (Leave blank to keep the same one):</label
            >
            <input
              class="form-control"
              type="password"
              formControlName="editPassword"
            />
            <p
              *ngIf="editEmployeeForm?.get('editPassword')?.errors?.['minlength'] && editEmployeeForm?.get('editPassword')?.touched"
              class="text-danger"
            >
              Password must be at least
              {{ editEmployeeForm?.get('editPassword')?.errors?.['minlength']?.requiredLength }}
              characters long.
            </p>
          </div>

          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!editEmployeeForm.valid"
          >
            Submit
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
