body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.container {
  flex: 1;
  padding: 20px;
}

.custom-card {
  height: 300px; /* Altezza desiderata per le card */
  margin-bottom: 20px;
  border-radius: 15px; /* Bordi arrotondati */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra */
}

/* Stile per il pulsante Entra */
.bottom-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

/* Stile per le card più strette */
.custom-narrow-card {
  width: 80%; /* Imposta la larghezza desiderata */
}

.listData {
  margin-bottom: 10px;
}

.clock-container {
  margin-bottom: 20px;
}

.clock-container i {
  margin-right: 7px;
  font-size: 26px;
}

.clock {
  color: dodgerblue;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 40px;
}

.button-custom {
  border: none;
  padding-inline: 16px;
  padding-block: 6px;
  font-size: 30px;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.button-custom:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.515);
  transform: scale(1.01);
}

.button-enter {
  background-color: rgb(6, 164, 6);
}

.button-exit {
  background-color: rgb(226, 40, 7);
}
